.bg-card-image-left{
  background: url(./src/assets/vector1.png), linear-gradient(45deg, #2500ff, #6e00ffa8);
  background-size: cover;
  background-position: center;
}
.bg-card-image-right{
  background: url(./src/assets/vector1.png), linear-gradient(45deg, #00ff40a3, #12b37c);
  background-size: cover;
  background-position: center;
}